## SQLITE

**https://github.com/dbcli/litecli**  repo'sundan kurulumu yapıyoruz.Sqlite3 python'la birlikte gelen bir veri tabanı yönetim modülüdür.Veri tabanı sistemleri ile  verileri kalıcı bir şekilde saklarız.

`litecli kitaplar.sqlite` ile veri tabanına bağlanalım.  
`select name from sqlite_master` ile tabloları listeleyelim..



```python
import sqlite3

# Veritabanına bağlan
connection = sqlite3.connect('ornek_veritabani.db')

# Bir imleç (cursor) oluştur
cursor = connection.cursor()

# Kullanıcılar tablosunu oluştur
cursor.execute('''CREATE TABLE IF NOT EXISTS Kullanicilar (
                    id INTEGER PRIMARY KEY,
                    isim TEXT NOT NULL,
                    email TEXT NOT NULL
                )''')

# Veritabanı değişikliklerini onayla (commit)
connection.commit()

# Bağlantıyı kapat
connection.close()
```

Bu kod bloğuyla "Kullanicilar" adında bir tablo oluşturduk. Şimdi bu tablo üzerinde yaygın kullanılan SQL komutlarını görelim:

1. **INSERT INTO**: Yeni veri eklemek için kullanılır.
   ```sql
   INSERT INTO Kullanicilar (isim, email) VALUES ('Ahmet', 'ahmet@example.com');
   ```

2. **SELECT**: Verileri sorgulamak için kullanılır.
   ```sql
   SELECT * FROM Kullanicilar;
   ```

3. **UPDATE**: Var olan verileri güncellemek için kullanılır.
   ```sql
   UPDATE Kullanicilar SET isim = 'Mehmet' WHERE id = 1;
   ```

4. **DELETE**: Veri silmek için kullanılır.
   ```sql
   DELETE FROM Kullanicilar WHERE id = 1;
   ```

5. **WHERE**: Belirli koşullara göre veri seçmek için kullanılır.
   ```sql
   SELECT * FROM Kullanicilar WHERE isim LIKE 'A%';
   ```

6. **ORDER BY**: Verileri belirli bir sıraya göre sıralamak için kullanılır.
   ```sql
   SELECT * FROM Kullanicilar ORDER BY isim ASC|DESC;
   ```

7. **LIMIT**: Sorgu sonucunda dönecek maksimum kayıt sayısını belirlemek için kullanılır.
   ```sql
   SELECT * FROM Kullanicilar LIMIT 10;
   ```

8. **JOIN**: İki veya daha fazla tabloyu birleştirmek için kullanılır.
   ```sql
   SELECT Kullanicilar.isim, Siparisler.urun FROM Kullanicilar
   INNER JOIN Siparisler ON Kullanicilar.id = Siparisler.kullanici_id;
   ```


`SELECT Kullanicilar.isim, Siparisler.urun`: Bu kısım, sorgu sonucunda hangi sütunların getirileceğini belirtir. "Kullanicilar" tablosundan "isim" sütunu ve "Siparisler" tablosundan "urun" sütunu getirilecektir.

`FROM Kullanicilar`: Bu bölüm, sorgunun hangi tablodan veri alacağını belirtir. Bu durumda, "Kullanicilar" tablosundan veri alınacak.

`INNER JOIN Siparisler ON Kullanicilar.id = Siparisler.kullanici_id`: Bu kısım, "Kullanicilar" tablosunu "Siparisler" tablosu ile birleştirmek için INNER JOIN kullanır. İki tablo arasında birleştirme yaparken, "Kullanicilar" tablosundaki "id" sütunu ile "Siparisler" tablosundaki "kullanici_id" sütunu arasındaki eşleşmeyi kullanır. Yani, her bir kullanıcının siparişleriyle ilişkilendirilmesini sağlar.

Bu komut, "Kullanicilar" tablosundan isimleri ve "Siparisler" tablosundan ürünleri içeren bir sonuç seti döndürecektir. Örneğin, "Ahmet Yılmaz" adlı bir kullanıcının sipariş ettiği ürünleri listelemek istiyorsak, bu sorgu bize bu bilgileri verecektir.



1. **sqlite3.connect(database, timeout=5, isolation_level=None, detect_types=0, factory=100)**

   Bu fonksiyon, veritabanına bağlanmak için kullanılır. Parametre olarak veritabanı dosyasının adını alır. İsteğe bağlı olarak, zaman aşımı, izolasyon seviyesi, tür algılama ve özel fabrika gibi ek parametreler de alabilir.

   Örnek kullanım:

   ```python
   import sqlite3

   conn = sqlite3.connect('example.db')
   ```

2. **sqlite3.Cursor.execute(sql, parameters=None)**

   Bu fonksiyon, verilen SQL sorgusunu veritabanında çalıştırmak için kullanılır. SQL sorgusu parametrelerle birlikte kullanılabilir. Parametreler, sorguda yer tutucu olarak kullanılır.

   Örnek kullanım:

   ```python
   cur = conn.cursor()
   cur.execute("INSERT INTO Kullanicilar (ad, email, sifre) VALUES (?, ?, ?)", ('Ahmet Yılmaz', 'ahmet@example.com', 'ahmet123'))
   ```

3. **sqlite3.Cursor.fetchall()**

   Bu fonksiyon, son yürütülen sorgunun tüm sonuçlarını almak için kullanılır. Sonuçlar bir listeye dönüştürülür ve bu liste döndürülür.

   Örnek kullanım:

   ```python
   cur.execute("SELECT * FROM Kullanicilar")
   kullanicilar = cur.fetchall()
   for kullanici in kullanicilar:
       print(kullanici)
   ```

4. **sqlite3.Cursor.fetchone()**

   Bu fonksiyon, son yürütülen sorgunun bir sonucunu almak için kullanılır. Her çağrıda bir sonraki sonuç alınır.

   Örnek kullanım:

   ```python
   cur.execute("SELECT * FROM Kullanicilar WHERE id=?", (1,))
   kullanici = cur.fetchone()
   print(kullanici)
   ```

5. **sqlite3.Cursor.executemany(sql, seq_of_parameters)**

   Bu fonksiyon, aynı sorguyu birçok kez farklı parametrelerle çalıştırmak için kullanılır. Genellikle toplu veri ekleme işlemlerinde kullanılır.

   Örnek kullanım:

   ```python
   data_to_insert = [('Mehmet Yıldız', 'mehmet@example.com', 'mehmet123'), ('Ayşe Kaya', 'ayse@example.com', 'ayse123')]
   cur.executemany("INSERT INTO Kullanicilar (ad, email, sifre) VALUES (?, ?, ?)", data_to_insert)
   ```

6. **sqlite3.Cursor.close()**

   Bu fonksiyon, bir cursor nesnesini kapatmak için kullanılır. Cursor nesnesi artık kullanılmayacaksa, kapatılması iyi bir uygulamadır.

   Örnek kullanım:

   ```python
   cur.close()
   ```