**1-Tablodaki satir satir sayisini bulunuz.**

**2-Fiyati 30 TL den buyuk olanlari listeleyiniz.**

**3-Yazar arasında Fırat ismine sahip olan satırları listele**

**4-Kitapların fiyat ortalamalarını bulunuz.**

**5-Fıyatı en yuksek olan kıtabı bulunuz.**

**6-Fıyatı en kuçuk olan kitabı bulunuz.**

**7-Yazarlardan en uzun isme sahip olan yazrı bulunuz.**

**8-Tabloya yeni bir bilgi ekleyiniz.**

**9-Tablodaki bir kaydı güncelleyiniz.**

**10-Tabloadaki bir kaydı siliniz.**

**11-Yazar isimlerinde "an" gecen satırları listele.**

**12-Veri tabanına kullanıcı adı ve parola kaydedip bu kullanıcı adı ve parolaları kontrol ederek bilgisayara girişleri kontrol eden login programını yazınız.**



1. **Tablo Oluşturma**: `kullanicilar` adında bir tablo oluşturun. Tabloda `id` (INTEGER, PRIMARY KEY, AUTOINCREMENT), `ad` (TEXT), `yas` (INTEGER) sütunları olsun.

2. **Veri Ekleme**: Tabloya 3 farklı kullanıcı ekleyin.

3. **Tüm Verileri Seçme**: Kullanıcılar tablosundaki tüm verileri seçin ve ekrana yazdırın.

4. **Belirli Koşullara Göre Veri Seçme**: Yaşı 25'ten büyük olan kullanıcıları seçin ve ekrana yazdırın.

5. **Veri Güncelleme**: Adı 'Ahmet' olan kullanıcının yaşını 35 yapın.

6. **Veri Silme**: Yaşı 30'dan büyük olan kullanıcıları silin.

7. **Toplam Veri Sayısı**: Kullanıcılar tablosundaki toplam veri sayısını bulun.

8. **Minimum ve Maksimum Değerleri Bulma**: Yaşı en küçük ve en büyük olan kullanıcıların bilgilerini seçin.

9. **Sütun Adlarını Alma**: Kullanıcılar tablosundaki sütun adlarını alın.

10. **Sıralama ve Limit Kullanımı**: Yaşı en büyük olan 2 kullanıcıyı yaşa göre büyükten küçüğe sıralayarak seçin.



1. **Tablo Oluşturma**: `kullanicilar` adında bir tablo oluşturun. Tabloda `id` (INTEGER, PRIMARY KEY, AUTOINCREMENT), `ad` (TEXT), `yas` (INTEGER) sütunları olsun.

```python
import sqlite3

# Veritabanı bağlantısını oluşturalım
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

# Tabloyu oluşturalım
cursor.execute('''CREATE TABLE IF NOT EXISTS kullanicilar
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                ad TEXT NOT NULL,
                yas INTEGER NOT NULL)''')

# Değişiklikleri kaydedelim
conn.commit()

# Bağlantıyı kapat
conn.close()
```

2. **Veri Ekleme**: Tabloya 3 farklı kullanıcı ekleyin.

```python
# Veritabanı bağlantısını yeniden oluşturalım
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

# Veri ekleyelim
kullanicilar = [
    ('Ahmet', 25),
    ('Mehmet', 30),
    ('Ayşe', 28)
]

cursor.executemany('INSERT INTO kullanicilar (ad, yas) VALUES (?, ?)', kullanicilar)

# Değişiklikleri kaydedelim
conn.commit()

# Bağlantıyı kapat
conn.close()
```

3. **Tüm Verileri Seçme**: Kullanıcılar tablosundaki tüm verileri seçin ve ekrana yazdırın.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM kullanicilar')
tum_veriler = cursor.fetchall()

print("Tüm Kullanıcılar:")
for kullanici in tum_veriler:
    print(kullanici)

conn.close()
```

4. **Belirli Koşullara Göre Veri Seçme**: Yaşı 25'ten büyük olan kullanıcıları seçin ve ekrana yazdırın.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM kullanicilar WHERE yas > ?', (25,))
yas_buyuk_kullanicilar = cursor.fetchall()

print("Yaşı 25'ten Büyük Olan Kullanıcılar:")
for kullanici in yas_buyuk_kullanicilar:
    print(kullanici)

conn.close()
```

5. **Veri Güncelleme**: Adı 'Ahmet' olan kullanıcının yaşını 35 yapın.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('UPDATE kullanicilar SET yas = ? WHERE ad = ?', (35, 'Ahmet'))
conn.commit()

print("Ahmet kullanıcısının yaşını güncelledik.")

conn.close()
```

6. **Veri Silme**: Yaşı 30'dan büyük olan kullanıcıları silin.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('DELETE FROM kullanicilar WHERE yas > ?', (30,))
conn.commit()

print("Yaşı 30'dan büyük olan kullanıcıları sildik.")

conn.close()
```

7. **Toplam Veri Sayısı**: Kullanıcılar tablosundaki toplam veri sayısını bulun.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('SELECT COUNT(*) FROM kullanicilar')
toplam_veri_sayisi = cursor.fetchone()[0]

print("Toplam Veri Sayısı:", toplam_veri_sayisi)

conn.close()
```

8. **Minimum ve Maksimum Değerleri Bulma**: Yaşı en küçük ve en büyük olan kullanıcıların bilgilerini seçin.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM kullanicilar WHERE yas = (SELECT MIN(yas) FROM kullanicilar)')
en_kucuk_yasli = cursor.fetchone()
cursor.execute('SELECT * FROM kullanicilar WHERE yas = (SELECT MAX(yas) FROM kullanicilar)')
en_buyuk_yasli = cursor.fetchone()

print("Yaşı En Küçük Olan Kullanıcı:", en_kucuk_yasli)
print("Yaşı En Büyük Olan Kullanıcı:", en_buyuk_yasli)

conn.close()
```

9. **Sütun Adlarını Alma**: Kullanıcılar tablosundaki sütun adlarını alın.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('PRAGMA table_info(kullanicilar)')
sutunlar = cursor.fetchall()

print("Sütunlar:")
for sutun in sutunlar:
    print(sutun[1])

conn.close()
```

10. **Sıralama ve Limit Kullanımı**: Yaşı en büyük olan 2 kullanıcıyı yaşa göre büyükten küçüğe sıralayarak seçin.

```python
conn = sqlite3.connect('ornek_veritabani.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM kullanicilar ORDER BY yas DESC LIMIT 2')
en_buyuk_iki_kullanici = cursor.fetchall()

print("Yaşı En Büyük Olan 2 Kullanıcı:")
for kullanici in en_buyuk_iki_kullanici:
    print(kullanici)

conn.close()
```

In [3]:
import sqlite3

#vt.sqlite adlı bir veritabanı dosyası oluşturup #bu veritabanına bağlanıyoruz. db = sqlite3.connect("vt.sqlite")

#Veritabanı üzerinde istediğimiz işlemleri yapabilmek #için bir imleç oluşturmamız gerekiyor. im = db.cursor()

#imlecin execute() metodunu kullanarak, veritabanı içinde #"kullanicilar" adlı bir tablo oluşturuyoruz. Bu tabloda #kullanıcı_adi ve parola olmak üzere iki farklı sütun var. im.execute("""CREATE TABLE IF NOT EXISTS kullanicilar (kullanici_adi, parola)""")

#Yukarıda oluşturduğumuz tabloya yerleştireceğimiz verileri #hazırlıyoruz. Verilerin liste içinde birer demet olarak #nasıl gösterildiğine özellikle dikkat ediyoruz. veriler = [ ("ahmet123", "12345678"), ("mehmet321", "87654321"), ("selin456", "123123123") ]

#veriler adlı liste içindeki bütün verileri kullanicilar adlı #tabloya yerleştiriyoruz. Burada tek öğeli bir demet #tanımladığımıza dikkat edin: (i,) for i in veriler: im.execute("""INSERT INTO kullanicilar VALUES %s""" %(i,))

#Yaptığımız değişikliklerin tabloya işlenebilmesi için #commit() metodunu kullanıyoruz. db.commit()

#Kullanıcıdan kullanıcı adı ve parola bilgilerini alıyoruz... kull = input("Kullanıcı adınız: ") paro = input("Parolanız: ")

#Burada yine bir SQL komutu işletiyoruz. Bu komut, kullanicilar #adlı tabloda yer alan kullanici_adi ve parola adlı sütunlardaki #bilgileri seçiyor. im.execute("""SELECT * FROM kullanicilar WHERE kullanici_adi = '%s' AND parola = '%s'"""%(kull, paro))

#Hatırlarsanız daha önce fetchall() adlı bir metottan #söz etmiştik. İşte bu fetchone() metodu da ona benzer. #fetchall() bütün verileri alıyordu, fetchone() ise #verileri tek tek alır. data = im.fetchone()

#Eğer data adlı değişken False değilse, yani bu #değişkenin içinde bir değer varsa kullanıcı adı #ve parola doğru demektir. Kullanıcıyı içeri alıyoruz. if data: print("Programa hoşgeldin {}!".format(data[0]))

#Aksi halde kullanıcıya olumsuz bir mesaj veriyoruz. else: print("Parola veya kullanıcı adı yanlış!")